doctype html
html
  head
    include shared/head
  body.page

    .page-content

      form
        .form-group
          input.form-input(type="text", placeholder="Имя")
          .sex-group
            .sex-group-label Пол:
            .custom-radio
              input.custom-radio-input.custom-radio-input-male(type="radio", name="sex", id="male", checked)
              label.custom-radio-label(for="male") мужской
            .custom-radio
              input.custom-radio-input.custom-radio-input-female(type="radio", name="sex", id="female")
              label.custom-radio-label(for="female") женский

        .form-group
          input.form-input(type="email", placeholder="E-mail")

        .form-group.form-group-type-near.date-select
          label.form-label Дата рождения:
          .date-selects
            .date-select-day
              select.custom-select(name="")
                option(value="") 19
                option(value="") 20
                option(value="") 21
            .date-select-month
              select.custom-select(name="")
                option(value="") Сентябрь
                option(value="") Октябрь
                option(value="") Ноябрь
            .date-select-year
              select.custom-select(name="")
                option(value="") 1980
                option(value="") 1981
                option(value="") 1982

        .form-group.date-select
          label.form-label Время рождения:
          .date-selects
            .date-select-time
              select.custom-select(name="")
                option(value="") 23:00
                option(value="") 23:05
                option(value="") 23:10

            .custom-checkbox
              input.custom-checkbox-input(type="checkbox", id="forget")
              label.custom-checkbox-label(for="forget") не знаю

        .form-group.simple-select
          label.form-label Место рождения:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group.simple-select
          label.form-label Где вы находитесь сейчас:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group
          button.btn(type="submit") Составить

    include shared/footer
