doctype html
html
  head
    include shared/head
  body.page

    .page-content

      form
        .form-group
          input.form-input(type="text", placeholder="Имя")
        .form-group
          input.form-input(type="email", placeholder="E-mail")

        .form-group.form-group-type-near.date-select
          label.form-label Дата рождения:
          .date-selects
            .date-select-day
              select.custom-select(name="")
                option(value="") 19
                option(value="") 20
                option(value="") 21
            .date-select-month
              select.custom-select(name="")
                option(value="") Сентябрь
                option(value="") Октябрь
                option(value="") Ноябрь
            .date-select-year
              select.custom-select(name="")
                option(value="") 1980
                option(value="") 1981
                option(value="") 1982

        .form-group
          label.form-label Время рождения:

        .form-group.simple-select
          label.form-label Место рождения:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group.simple-select
          label.form-label Где вы находитесь сейчас:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group
          button.btn(type="submit") Составить

    include shared/footer
