doctype html
html
  head
    include shared/head
  body.page

    .logo.logo-no-bg
      .sign.sign-default

    .page-content

      form

        .form-group
          button.btn.btn-small-text(type="submit") Получить гороскоп

      p.info
        | Стоимость подписки …. руб. с учетом НДС в день. Нажимая кнопку «Получить гороскоп», вы подтверждаете, что согласны с подключением подписки, а также ознакомились и согласны с Условиями предоставления подписки. Оплата производится с основного счета. Услуга предоставляется …

    include shared/footer
