*
  box-sizing border-box

html
  font-size 16px

.page
  background url(../images/background.jpg) center top #050c13
  color #fff

.page-content
  width 320px
  margin 0 auto
  padding 0 48px


.form-group
  margin 0 0 30px

.form-label
  font-size 0.875rem
  font-weight 400
  text-align center
  display block
  margin 0 0 8px

.custom-select
  display block
  width 100%
  height 30px
  margin 0 0 8px

.customSelect
  border 2px solid #fff
  border-radius 15px
  padding 0 30px 0 15px
  background url(../svg/select-arrow.svg) 198px 10px no-repeat

.customSelectInner
  display block
  width 100%
  height 100%
  font-size 0.875rem
  line-height 1.625rem


.btn
  color #05142D
  font-size 1.16rem
  text-transform uppercase
  font-weight: 700
  width 100%
  height 40px
  background-color #0A6173
  background-image linear-gradient(to top, #FF9C00 0%, #FFB400 38%, #FFD800 100%)
  border-radius 20px
  box-shadow 1px 1.7px 5px rgba(0, 0, 0, 0.49), inset 10px 17.3px 0 rgba(255, 255, 255, 0.07)
